.his-youtube-video{
    position:relative;
    width:624px;
}
.his-youtube-thumb{
    width:624px;
    height:351px;
}
.his-youtube-play{
    position:absolute;
    width:90px;
    height:64px;
    top:50%;
    margin-top:-45px;
    left:50%;
    margin-left:-32px;
}
.html5-overlay-button-background {
  fill: url(#html5-big-play-button-black);
}
.his-youtube-video:hover .html5-overlay-button-background {
  fill: url(#html5-big-play-button-red);
}